
#priceright {
    align-items: center;
} */
.amongus, #priceright{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 30vh;
    width: 20vw;
    background-color: #ddcbb5;
    font-size: var(--h2);
    border-radius: 1rem;
    box-shadow: 10px 10px 5px #80775e;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    font-size: 70%;
    margin: 1rem;
    padding: 1rem;
}
.img{
    size: 50%;
}
#button{
    background-color: #80775e;
}