
.amongus, #priceright, .form1, #submitting{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
h1{
    text-align: center;
    margin-top: 10px;
}
.form1{
    size: 30vh;
}
.card{
    height: 60vh;
    width: 33vw;
    background-color: #faf0e4;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px #80775e;
    flex-grow: 3;
    flex-shrink: 0;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-size: 80%;
    margin: 1rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.itemimage{
    height: 400px;
    width: 450px;
    justify-content: center;
    margin: 3;
    padding: 1rem;
}
.result{
    text-align: center;
}
.hideprice{
    color: transparent;
    line-height: .1;
}